/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wikiContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.bookIllustration {
  width: 300px;
  height: auto;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}


.textKnowledge, .textIs, .textCool {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.textKnowledge {
  color: #ff2f78;
}

@media screen and (max-width: 996px) {
  .wikiContainer {
    flex-direction: column;
  }

  .titleContainer {
    flex-direction: row;
  }

  .textKnowledge, .textIs, .textCool {
    font-size: 2rem;
  }
}